airflow
.vscode
__pycache__
target
.metals
.bloop
metals.sbt
*.crc
.bsp
data/input
data/raw-data
data/dw
github
airflow-dir/logs
metastore_db
derby.log
scripts/execution-date.txt
scripts/aws-execution-date.txt
.idea
.ammonite
private.env
.mypy_cache
.scala-build